i.fa-tint {
  color: #C0392B;  
}

i.fa-heart {
  color: #DB0A5B;
  margin-top: 30px;
}

i.fa-female {
  color: #F62459;
  margin-top: 30px;
}

i.fa-home {
  color: #19b5fe;
  margin-top: 30px;
}

footer {
  margin-top: 15px;
}
