i.fa-tint {
  color: #C0392B;
}

i.fa-heart {
  color: #DB0A5B;
}

i.fa-female {
  color: #F62459;
}

i.fa-home {
  color: #19b5fe;
}

.btn-danger {
  margin-bottom: 30px;
}

footer {
  margin-top: 15px;
}
